.about {
  margin: 122px 0 97px;

  @media #{$tablet} {
    margin-top: 100px;
  }

  .info-content {
    display: flex;
    align-items: center;

    @media #{$mobile} {
      flex-direction: column;
    }

    .img-box {
      position: relative;
      width: 590px;
      margin-right: 60px;
      background-color: $color_9B9;

      @media #{$tablet} {
        width: 470px;
        margin-right: 40px;
      }

      @media #{$mobile} {
        width: 100%;
        margin: 0 0 60px 0;
      }

      .chat-link {
        position: absolute;
        top: -52px;
        left: -41px;
        font-size: 0;
        width: 105px;
        height: 105px;
        background: url(../images/ic-let-chat.png) no-repeat;
        background-size: 100% auto;

        @media #{$inner} {
          top: -54px;
          left: -18px;
          width: 90px;
          height: 90px;
        }

        @media #{$mobile} {
          top: -35px;
          left: -20px;
          width: 80px;
          height: 80px;
        }
      }
      
      .thumb {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 91.19%;

        @media #{$tablet} {
          padding-bottom: 106.38%;
        }

        img {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .info-box {
      width: calc(100% - 650px);

      @media #{$tablet} {
        width: calc(100% - 510px);
      }

      @media #{$mobile} {
        width: 100%;
      }

      .txt-title {
        display: block;
        margin-bottom: 20px;
        font-size: 92px;
        font-weight: 400;
        font-family: 'Koulen', sans-serif;
        color: $primary;
        line-height: 85px;

        @media #{$tablet} {
          font-size: 50px;
        }
      }

      .txt-detail {
        display: block;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 500;
        color: $primary;
        letter-spacing: 0.675px;
        line-height: 27px;

        @media #{$tablet} {
          margin-bottom: 20px;
          font-size: 13px;
        }
      }
    }
  }
}