.project {
  .title {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .list-card {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .card {
      position: relative;
      width: calc(33.33% - 42px);
      margin-left: 21px;

      &:first-child {
        margin-left: 0;
      }

      &-img {
        position: relative;
        width: 100%;
        padding-bottom: 114.3%;
        background: url(../../images/img-updating.jpg) no-repeat center/cover;

        img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
        }
      }

      &.coming-soon {
        &:after {
          position: absolute;
          top: 0;
          right: 0;

          display: flex;
          width: 242px;
          transform: rotate(30deg);
          padding: 8px;
          justify-content: center;
          align-items: center;
          gap: 8px;

          content: '';
        }
      }
    }
  }
}





