.project {
  margin-top: 60px;

  .title {
    display: block;
    margin: 25px 0;
    font-size: 24px;
    font-weight: 700;
  }

  .list-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -25px -11px;

    @media #{$mobile} {
      flex-direction: column;
      margin: 0;
    }

    .card {
      overflow: hidden;
      position: relative;
      width: calc(33.33% - 22px);
      margin: 25px 11px;

      @media #{$tablet} {
        width: calc(50% - 22px);
      }

      @media #{$mobile} {
        width: 100%;
        margin: 60px 0 0;
      }

      &:first-child {
        @media #{$mobile} {
          margin-top: 0;
        }
      }

      &-img {
        position: relative;
        width: 100%;
        padding-bottom: 114.5%;
        background: url(../../images/img-updating.jpg) no-repeat center/cover;

        @media #{$mobile} {
          padding-bottom: 82.02%;
        }

        img {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-info {
        margin-top: 24px;
      }

      &-title {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: $primary2;

        @media #{$inner} {
          font-size: 18px;
        }
      }

      &-desc {
        display: block;
        margin: 8px 0 16px;
        font-size: 14px;
        font-weight: 700;
        color: $primary2;
      }

      &.coming-soon {
        &:after {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 22px;
          right: -54px;
          width: 242px;
          padding: 8px;
          background: $color_fff;
          font-size: 16px;
          font-weight: 700;
          transform: rotate(30deg);
          gap: 8px;
          content: 'COMING SOON';
        }

        .btn-get {
          background-color: rgba($color: $primary2, $alpha: 0.5);
        }
      }
    }
  }
}

.testimonials-let-chat {
  margin: 90px 0 81px;
  
  .info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$tablet} {
      flex-direction: column;
    }
    
    .testimonials {
      &-wrap {
        width: calc(100% - 669px);

        @media #{$inner} {
          width: calc(100% - 560px);
        }

        @media #{$tablet} {
          width: 100%;
        }
      }
    }
  }

  .let-chat {
    width: 631px;
    margin-left: 38px;

    @media #{$inner} {
      width: 522px;
    }
    
    @media #{$tablet} {
      width: 100%;
      margin: 60px 0 0;
    }
  }
}

.testimonials {
  position: static;

  &-wrap {
    position: relative;
  }

  .swiper {
    &-slide {
      padding: 52px 60px 67px;
      border: 1px solid $primary;

      @media #{$inner} {
        padding: 40px 45px 50px;
      }
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
    }

    &-desc {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 500;
      color: $primary;
      letter-spacing: 0.675px;

      @media #{$mobile} {
        font-size: 12px;
      }
    }

    &-person {
      display: flex;
      align-items: center;
      margin-top: 40px;

      .avt {
        width: 60px;
        min-width: 60px;
        min-height: 60px;
        border-radius: 50%;
        background-color: $color_9B9;

        @media #{$mobile} {
          width: 50px;
          min-width: 50px;
          min-height: 50px;
        }

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .name {
        display: block;
        font-size: 15px;
        font-weight: 700;

        @media #{$mobile} {
          font-size: 12px;
        }
      }

      .position {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        font-weight: 500;
      }
      
      .info {
        margin-left: 16px;
        color: $primary;
      }
    }
  }

  .swiper-navigation {
    .swiper-button {
      &-next {
        right: -18px;
        width: auto;
        height: auto;
        margin-top: -17px;

        &:after {
          min-width: 36px;
          min-height: 36px;
          background: url(../../images/ic-arrow-right.svg) no-repeat;
          content: '';
        }
      }

      &-prev {
        left: -18px;
        width: auto;
        height: auto;
        margin-top: -17px;

        &:after {
          min-width: 36px;
          min-height: 36px;
          background: url(../../images/ic-arrow-left.svg) no-repeat;
          content: '';
        }
      }

      &-next,
      &-prev {
        &.swiper-button-disabled {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }
}

.let-chat {
  position: relative;

  .img-box {
    position: relative;
    width: 100%;
    padding-bottom: 55.47%;
    background: $color_9B9;

    @media #{$inner} {
      padding-bottom: 67.05%;
    }

    img {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);

    .txt-tile {
      display: block;
      margin-bottom: 15px;
      font-size: 50px;
      font-weight: 400;
      font-family: 'Koulen', sans-serif;
      color: $primary5;
      line-height: 50px;

      @media #{$inner} {
        font-size: 45px;
        line-height: 45px;
      }
    }
  }
}