/* Roboto Mono */
@font-face {
	font-weight: 500;
	font-family: 'Roboto Mono';
	src: url('../../font/RobotoMono-Medium.eot');
	src: url('../../font/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
			url('../../font/RobotoMono-Medium.woff2') format('woff2'),
			url('../../font/RobotoMono-Medium.woff') format('woff'),
			url('../../font/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Roboto Mono';
	src: url('../../font/RobotoMono-Bold.eot');
	src: url('../../font/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
			url('../../font/RobotoMono-Bold.woff2') format('woff2'),
			url('../../font/RobotoMono-Bold.woff') format('woff'),
			url('../../font/RobotoMono-Bold.ttf') format('truetype');
}

/* Koulen */
@font-face {
	font-weight: 400;
	font-family: 'Koulen';
	src: url('../../font/Koulen-Regular.eot');
	src: url('../../font/Koulen-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../font/Koulen-Regular.woff2') format('woff2'),
			url('../../font/Koulen-Regular.woff') format('woff'),
			url('../../font/Koulen-Regular.ttf') format('truetype');
}