$primary : #000;
$primary2 : #141313;
$primary3 : #9B9B9B;
$primary4 : #F0F0EE;
$primary5 : #F8F4E9;
$color_fff : #fff;

$inner: 'screen and (max-width: 1280px)';
$tablet: 'screen and (max-width: 1024px)';
$mobile: 'screen and (max-width: 768px)';